body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'B yekan';
}

/* site top */
.navbar {
    background-color: rgb(214, 244, 241);
    font-size: 10pt;
    color: rgba(95, 94, 94, 0.933);
}

.navbar .title-top-center {
    text-align: center;
}

.navbar .title-top-left {
    float: left;
}

/* end site top */

/* header */
.header {
    height: 14rem;
}

.margin-header {
    margin-top: 6rem;
}

.icon-header {
    position: relative;
    display: inline-block;
}

.header .number-shopping {
    width: 2rem;
    height: 2rem;
    background: #999999;
    position: absolute;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    color: #ffff;
}

.header .sopping {
    position: relative;
    font-size: 22pt;
    top: -1px;
    right: 35px;
    color: #999999;
}

.header .login-register .register {
    display: inline-block;
    position: relative;
    right: 83px;
    top: -45px;
    color: #999999;
    text-decoration: none;
    font-size: 11pt;
    font-weight: bold;
}

.header .image-header {
    margin-top: 3rem;
    text-align: center;
}

.header .me-2 {
    margin-left: 0 !important;
}

.form-control {
    border-radius: 0 !important;
    height: 3rem;
}

.header .btn {
    border-radius: 0 !important;
    border: 0;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    color: #9999;
    font-size: 11pt;
    font-weight: bold;
}

.header .btn:hover {
    background: #999999 !important;
    transition: all .3s;
    color: white;
}

.bg-light {
    background-color: inherit !important;
}

.search-menu {
    margin-top: 4rem;
    position: relative;
    right: 5rem;

}

.navbar-nav {
    margin: 0 auto;
    font-size: 15pt;
    font-family: B koodak;
}

.home-nav {
    color: rgb(42, 210, 214) !important;

}

ul.navbar-nav li:nth-child(2) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

ul.navbar-nav li:nth-child(3) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

ul.navbar-nav li:nth-child(4) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

ul.navbar-nav li:nth-child(5) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

ul.navbar-nav li:nth-child(6) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

ul.navbar-nav li:nth-child(7) {
    padding: 0 10px;
    border-right: 1px solid silver;
}

.collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgb(42, 210, 214) !important;
}

/* end header */

/* slider */
.carousel-control-prev-icon {
    background-image: inherit;
    font-size: 50pt;
    color: #0016ff;
}

.carousel-control-next-icon {
    background-image: inherit;
    font-size: 50pt;
    color: #0016ff;
}

/*  end slider */

/* content */
.content-back {
    padding: 0;
    margin-top: 7rem;
}

.content-back img {
    width: 100%;
    padding: 0;
}

.title-content {
    position: relative;
    bottom: 22rem;
    text-align: center
}

.title-content .title-content-top {
    font-size: 12pt;
    display: block;
}

.title-content .title-content-main {
    font-size: 28pt;
    display: block;
}

.title-content .bottom-content {
    text-decoration: none;
    color: #333232;
    background: #ffff;
    width: 45%;
    display: inline-block;
    height: 42px;
    font-size: 10pt;
    font-weight: 900;
    line-height: 41px;
    margin-top: 20px;
}

.title-content .bottom-content:hover {
    background-color: rgb(203 235 235);
}

/* end content */

/* newest flower */
.title-new-flower {
    text-align: center;
    margin-bottom: 3rem;
}

.title-new-flower span {
    border-bottom: 3px solid #aae8e3;
    width: 25%;
    display: inline-block;
    font-size: 22pt;
}

.boxshadow-flower-new {
    text-align: center;
    box-shadow: 2px 1px 9px 2px silver;
    height: 23rem;
    margin-bottom: 2rem;
}

.boxshadow-flower-new .box-new-flower-img {
    overflow: hidden;
}

.boxshadow-flower-new .box-new-flower-img img {
    width: 80%;
    height: 80%;
    transition: transform .2s;
}

.boxshadow-flower-new .box-new-flower-img img:hover {
    transform: scale(1.3);

}

.boxshadow-flower-new .box-new-flower-title a {
    font-size: 27px;
    color: rgb(0, 161, 165);
    text-decoration: none;
    display: block;
}

.boxshadow-flower-new .box-new-flower-title span {
    display: block;
    font-size: 14pt;
    color: #fc1111;
}

.boxshadow-flower-new .box-new-flower-title a.bottom-flower-new {
    text-decoration: none;
    background-color: rgb(178, 223, 224);
    display: block;
    width: 71%;
    margin: 11px auto;
    height: 2.5rem;
    color: black;
    line-height: 38px;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(178, 223, 224);
}

.boxshadow-flower-new .box-new-flower-title a.bottom-flower-new:hover {
    background-color: white;
}

/* end  newest flower */

/* end flower-care */





























@media screen and (max-width:991px) {
    .margin-header {
        margin-top: 4rem;
    }

    .navbar.navbar-bottom-header {
        position: relative;
        top: -15rem;
    }

    .image-header img {
        position: relative;
        top: -7rem;
    }

    .icon-header {
        float: left;
        padding-left: 35px;
    }

    .navbar.search-header-top {
        margin: 0;
        position: relative;
        top: -5rem;
        float: left;
        padding-left: 4rem;
    }

    .login-register {
        position: relative;
        top: 7rem;
    }

    .header .login-register .register {
        top: 0;
    }

    .content-back {
        margin-top: 47px;
    }

    .title-content {
        top: -47rem;
    }

    .responsiv, .responsiv2 {
        margin-top: -7.5rem;
    }

    .title-new-flower {
        margin-top: -5rem;
    }

    .title-new-flower span {
        width: 73%;
    }
    .boxshadow-flower-new{
        height: 48rem;
    }
}

@media screen and (max-width:1024px) {
    .search-menu {
        right: 0;
    }
}

@media screen and (max-width:543px) {
    .header .login-register .register {
        right: 12px;
    }

    .navbar.search-header-top {
        padding-left: 0;
        width: 70%;
    }

    .title-content {
        top: -32rem;
    }
}

@media screen and (max-width:468px) {
    .image-header img {
        width: 50%;
    }

    .container-fluid {
        position: relative;
        top: 0.5rem;
        right: -1rem;
    }

    .icon-header {
        position: relative;
        top: -1rem;
    }

    .title-content {
        top: -29rem;
    }

}
@media screen and (max-width:959px) {
    .navbar-collapse {
        z-index: 999;
        background: rgb(239, 255, 253);
    }
}

@media screen and (max-width:767px) {
    .title-content {
        top: -35rem;
    }
    .boxshadow-flower-new {
        height: 39rem;
}
}
@media screen and (max-width:400px) {
    .title-content {
        top: -22rem;
    }
    .boxshadow-flower-new {
        height: 28rem;
    }

}
@media screen and (max-width:500px) {
    .boxshadow-flower-new {
        height: 35rem;
}
}
@media screen and (max-width:476px) {
    .boxshadow-flower-new {
        height: 32rem;
}
}
@media screen and (max-width:393px) {
    .boxshadow-flower-new {
        height: 29rem;
}
}
